<div *ngFor="let slide of slides; let i = index" class="slide" [ngClass]="{'active':slide.active, 'left':slide.left,'right':slide.right,'prev':slide.prev,'next':slide.next}" [style.background-image]="'url(' + slide.image.secure_url + ')'">
</div>
<div class="btn-carousel next icon-arrow-right2" (click)="next()"></div>
<div class="btn-carousel previous icon-arrow-right2" (click)="previous()"></div>
<div class="slide-status">
    {{nextSlideNdx+1}} / {{slides.length}}
</div>
<div class="social-section">
    <a href="http://instagram.com" class="icon icon-instagram"></a>
    <a href="http://facebook.com" class="icon icon-facebook"></a>
    <a href="http://pinterest.com" class="icon icon-pinterest2"></a>
</div>
