<div class="landing-page projects-page">
	<section class="project-section">
		<div class="project-tab-section">
			<span class="tab" (click)="filterByType()" [ngClass]="{'active':allTab}">All</span>
			<span class="tab" *ngFor="let projectType of projectTypes" [ngClass]="{'active':(!projectType?.hide)}" (click)="filterByType(projectType)">{{projectType.name}}</span>
		</div>
		<div class="project-list">
			<div class="project-item" [routerLink]="['/projects',project.slug]" *ngFor="let project of projects" [ngClass]="{'hidden':project.hide}">
				<div class="project-thumbnail" *ngIf="project.thumbnailImage">
					<img src="{{project.thumbnailImage?.secure_url}}" />
				</div>
				<div class="project-details">
					<span class="detail-item">{{project.title}}</span>
					<span class="detail-item">{{project.location}}</span>
					<span class="detail-item">{{project.type.name}}</span>
				</div>
			</div>
		</div>
	</section>
</div>
