.carousel{
    $button-space: 0px;
    carousel-component{
        overflow: hidden;
        width: 100%;
        display: block;
        height: 100vh;
        position: relative;
    }
    .slide{
        background-size: cover;
        background-position: center;
        display: none;
        height: 100%;
        position: relative;
        &::before{
            content:'';
            width: 100%;
            height:100%;
            position: absolute;
            background-color: rgba(0,0,0,0.2);
            transition: background-color 0.3s ease-in-out;
        }
        &.active{
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            transform: translateX(0);
            transition: transform 1s ease-in-out;
            will-change: transform;
        }

        &.left {
            transform: translateX(100%);
        } 
        &.right {
            transform: translateX(-100%);
        }
    }
    .caption-area{
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        color: $color-white;
        padding: px-to-rem(10px) px-to-rem(30px);
    }
    .subtitle, .title{
        display: block;
    }
    .title{
        font-size: px-to-rem(36px);
    }
    $buttonSize: 40px;
    $buttonFontSize: 40px;
    .btn-carousel{
        height: $buttonSize;
        width: $buttonSize;
        color: $color-white;
        position: absolute;
        top: 50%;
        font-size: $buttonFontSize;
        line-height: .75;
        cursor: pointer;
        transform: translateY(-50%);
        &:hover{
            span{
                color: $color5;
            }
        }
        &.next{
            right: $header-page-margin;// - $buttonSize - $button-space;
        }
        &.previous{
            left: $header-page-margin;// - $buttonSize - $button-space;
            transform: rotate(180deg);
            top: calc(50% - 30px);
        }
    }
    .slide-status{
        position: absolute;
        bottom: $header-page-margin / 3;
        left: $header-page-margin;
        font-size: px-to-rem(22px);
    }
    .social-section{
        position: absolute;
        bottom: ($header-page-margin / 3);
        right: $header-page-margin;
        font-size: px-to-rem(22px);
        a{
            color: $color-white;
            margin-left: 8x;
            &:hover{
                color: darken($color-white,15%);
            }
        }
    }
    @include bp-max($bp-tablet){
        .slide-status{
            bottom: $header-page-margin-tablet / 3;
            left: $header-page-margin-tablet;
        }
        .social-section{
            bottom: ($header-page-margin-tablet / 3);
            right: $header-page-margin-tablet;
        }
        .btn-carousel{
            &.next{
                right: calc(#{$header-page-margin-tablet});// - #{$buttonSize} - #{$button-space});
            }
            &.previous{
                left: calc(#{$header-page-margin-tablet});// - #{$buttonSize} - #{$button-space});
            }
        }
    };
    @include bp-max($bp-between){
        .btn-carousel{
            $buttonSize: 30px;
            $buttonFontSize: 30px;
            height: $buttonSize;
            width: $buttonSize;
            font-size: $buttonFontSize;        
        }
    }
}