header{
    $tranistion-duration: 0.5s;
    position:fixed;
    top:0;
    height:$header-height;
    width:100%;
    z-index: 100;
    background-color: $color-white;
    $menu-color: $color-medium-gray;
    .logo{
        position: absolute;
        left: $header-page-margin;
        top:($header-height - $menu-button-height)/(2) + 10px;
        color: $menu-color;
        max-width: 200px;
        h1{
            font-size: px-to-rem(32px);
            font-weight: bold;
        }
    }
    nav{
        position: relative;
        z-index: 100;
        height: 100%;
        .menu{
            height:$menu-button-height;
            position:absolute;
            top:($header-height - $menu-button-height)/(2) + 10px;
            right: $header-page-margin;
            width:$menu-button-width;
            //border-radius:8px;
            cursor: pointer;
            transition: height $tranistion-duration ease-in-out, width $tranistion-duration ease-in-out;

        }
        .menu-button{
            content:'';
            height:$line-height;
            width: $line-width;
            background-color:$menu-color;
            position:relative;
            display: block;
            margin:0 auto;
            bottom:-($menu-button-height/2) + ($line-height/2);
            transition: all $tranistion-duration ease-in-out;
            cursor:pointer;
            &:before,&:after{
                content:'';
                transition: all $tranistion-duration ease-in-out;
                position:absolute;
                height:$line-height;
                width: $line-width;
                background-color:$menu-color;
            }
            &:before{
                top:-1 * $line-gap;
            }
            &:after{
                bottom:-1 * $line-gap;
            }
            &.close{
                height:0;
                &:before{
                    transform:rotate(45deg);
                    top:-3px;
                    background-color:$menu-color;

                }
                &:after{
                    transform:rotate(-45deg);
                    bottom:0;
                    background-color:$menu-color;
                }
            }
        }

    }
    @include bp-max($bp-between){
        .logo{
            left: $header-page-margin-tablet;
            width: 45%;
            top: 33px;                     
        }
        nav{
            .menu{
                right: $header-page-margin-tablet;
            }
        }
    };
}
