.hero{
  // background-size:cover;
  // background-position: left center;
  height:100vh;
  overflow: hidden;
  position: relative;
  &:before{
      content: ' ';
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: rgba(0,0,0,0.3);
      display: block;
      z-index: 10;
  }
  video{
      min-width: 100%;
      min-height: 100vh;
  }
  $hero-padding:50px;
  .hero-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 11;
	h1{
    	  @include font-sans-serif(105px);
          color: $color-white;
	}
    img{
        position: relative;
        left: -50%;
        max-width: 800px;
        width: 200%;
    }
  }
  .carousel-wrapper{
      width: 100vw;
      height: 100vh;
      display: block;
      overflow: hidden;
  }
  .background-image{
      display: block;
      height: 0;
      visibility: hidden;
      max-width:inherit;
      width: initial;
      opacity: 0;
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
      &.visible{
          visibility: visible;
          opacity: 1;
          height: 100vh;
          background-size: cover;
          background-position: center center;
      }
  }
  @include bp-max(1040px){
  }
  @include bp-max(840px){
      .hero-content{
          width: 80%;
          img{
              width: 100%;
              left: 0;
          }
      }
  };
}
