.mobile-menu{
    $mobile-menu-color: $color-medium-gray;
    $padding-top: 80px;
    width:100px;
    height:200px;
    position:fixed;
    top:-200vh;
    right: ($header-page-margin + $menu-button-width);
    color:$mobile-menu-color;
    z-index: 100;
    transition:all 0.5s ease-in-out;
    padding-top: $padding-top;
    &.show{
        top:0;
    }
    ul{
        li{
            width:100%;
            transition:all 0.5s ease-in-out;
            cursor: pointer;
            a{
                font-size:20px;
                color:$mobile-menu-color;
                transition:color 0.5s ease-in-out;
                &:hover{
                    color:$color-primary;
                }
            }
        }
    }
    @include bp-max($bp-between){
        right: calc(#{$header-page-margin-tablet} + #{$menu-button-width});
    }
    @include bp-max($bp-between){
        &.show{
            height: 100vh;
            width: 100vw;
            background-color: $color-white;
            right: 0;
            top: 80px;
        }
        ul{
            padding-top: px-to-rem(40px);
            li{
                margin-bottom: px-to-rem(36px);
                a{
                    display: block;
                    text-align: center;
                    color: $color-medium-gray !important;
                    font-size: px-to-rem(52px);
                }
            }
        }

    };
}
