.mobile-menu{
    $mobile-menu-color: $color-medium-gray;
    $padding-top: 80px;
    width:100px;
    height:200px;
    position:fixed;
    top:-200vh;
    right: ($header-page-margin + $menu-button-width);
    color:$mobile-menu-color;
    z-index: 100;
    transition:all 0.5s ease-in-out;
    padding-top: $padding-top;
    &.show{
        top:0;
    }
    ul{
        li{
            width:100%;
            transition:all 0.5s ease-in-out;
            cursor: pointer;
            a{
                font-size:20px;
                color:$mobile-menu-color;
                transition:color 0.5s ease-in-out;
                &:hover{
                    color:darken($mobile-menu-color, 10%);
                }
            }
        }
    }
}
