<header>
	<nav>
		<div class="logo">
			
			<a [routerLink]="['/']" >
				<img *ngIf="isDark" src="/public/images/logo-white.svg" />
				<img *ngIf="!isDark" src="/public/images/logo-gray.svg" />
			</a>
		</div>
		<div class="menu" (click)="toggleMenu()">
			<span class="menu-button" [ngClass]="{'close':showMenu}"></span>
		</div>
	</nav>
	<div class="mobile-menu" [ngClass]="{'show':showMenu}">
		<ul>
			<li><a [routerLink]="['/projects']" (click)="toggleMenu()">Projects</a></li>
			<li><a [routerLink]="['/blog']" (click)="toggleMenu()">Blog</a></li>
			<!-- <li><a [routerLink]="['/shop']" (click)="toggleMenu()">Shop</a></li> -->
			<li><a [routerLink]="['/about']" (click)="toggleMenu()">About</a></li>
			<li><a [routerLink]="['/contact']" (click)="toggleMenu()">Contact</a></li>
		</ul>
	</div>
</header>
