<div class="landing-page projects-page">
	<section class="project-section">
		<div class="project-tab-section">
			<span class="tab" (click)="filterByType()">All</span>
			<span class="tab" *ngFor="let postCategory of postCategories" (click)="filterByType(postCategory)">{{postCategory.name}}</span>
		</div>
		<div class="project-list">
			<div class="project-item" [routerLink]="['/blog/post',post.slug]" *ngFor="let post of posts" [ngClass]="{'hidden':post.hide}">
				<div class="project-thumbnail" *ngIf="post.thumbnailImage" [style.background-image]="'url(' + post.thumbnailImage?.secure_url + ')'">
				</div>
				<div class="project-details">
					<span class="detail-item">{{post.title}}</span>
					<span class="detail-item">{{post?.author?.name.first}} {{post?.author?.name.last}}</span>
					<span class="detail-item" *ngFor="let category of categories">{{category.name}}</span>
				</div>
			</div>
		</div>
	</section>
</div>
