<div class="detail-page post-detail">
	<div class="carousel">
		<carousel-component *ngIf="post?.images.length >0" [slides]="post?.images"></carousel-component>
	</div>
	<div class="post-left-content">
		<span class="post-title">{{post?.title}}</span>
		<span class="post-sub-title">{{post?.author?.name.first}} {{post?.author?.name.last}}</span>
	</div>
	<div class="post-right-content" [ngClass]="{'visible': showDescription}">
		<span class="description-toggle" (click)="toggleDescription()">&#43;</span>
		<div class="post-container">
			<div class="location-image" [style.background-image]="'url(' + post?.locationImage?.url + ')'">
			</div>
			<div class="description-container">
				<h1 class="post-title">{{post?.title}}</h1>
				<div class="rich-text" [innerHTML]="post?.content?.extended">
				</div>
				<span class="post-button previous" *ngIf="previousPost" [routerLink]="['/blog/post',previousPost.slug]">Previous</span>
				<span class="post-button next" *ngIf="nextPost" [routerLink]="['/blog/post',nextPost.slug]">Next</span>
			</div>
		</div>
	</div>
</div>
