.page-wrapper{
    &.has-logo{
        .logo{
            display: block;
        }
    }
    .logo{
        display: none;
    }
    &.menu-open{
        @include bp-max($bp-tablet){
            .landing-page{
                margin-top: 50vh;
            }
        };
      @include bp-max($bp-mobile){
        .project-detail, .post-left-content{
          .project-title, .post-title{
            visibility: hidden;
            opacity: 0;
          }
        }
      }
    }
    &.dark-background{
        $menu-color: $color-white;
        header{
            background-color: transparent;
        }
        nav{
            .menu-button{
                background-color: $menu-color;
                &:before,&:after{
                    background-color: $menu-color;
                }
                &.close{
                    &:before,&:after{
                        background-color: $menu-color;
                    }
                }
            }
        }
        .mobile-menu{
            color: $menu-color;
            ul{
                li{
                    a{
                        color: $menu-color;
                        &:hover{
                            color: darken($menu-color,10%);
                        }
                    }
                }
            }
        }
    }
}
