.page-wrapper{
    &.dark-background{
        $menu-color: $color-white;
        .logo{
            display: none;
        }
        nav{
            .menu-button{
                background-color: $menu-color;
                &:before,&:after{
                    background-color: $menu-color;
                }
                &.close{
                    &:before,&:after{
                        background-color: $menu-color;
                    }
                }
            }
        }
        .mobile-menu{
            color: $menu-color;
            ul{
                li{
                    a{
                        color: $menu-color;
                        &:hover{
                            color: darken($menu-color,10%);
                        }
                    }
                }
            }
        }
    }
}
