.project-list{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    .project-item{
        box-sizing: border-box;
        $padding: 14px;
        $flex-padding: $padding*4/3;//since first and last items don't have padding, average out the padding
        //flex: 0 1 calc(33.333% - #{$flex-padding});
        flex: 0 1 calc(33.333%);
        display: inline-block;
        padding: 30px $padding;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        .project-thumbnail{
            background-size: cover;
            width: 100%;
            height: 250px;
            background-position: center;
            margin-bottom: 6px;
        }
        // &:nth-child(3n+1){
        //     padding-left: 0;
        // }
        // &:nth-child(3n+3){
        //     padding-right: 0;
        // }
        &.hidden{
            visibility: hidden;
            opacity: 0;
            flex: 0 0 0;
            padding: 0;
            width: 0;
        }
    }
    .project-details{
        color: $color-medium-gray;
        font-weight: 300;
        .detail-item{
            display: block;
            &:last-child{
                color: lighten($color-medium-gray, 15%);
            }
        }
    }
    @include bp-max($bp-tablet){
        .project-item{
            $padding: 14px;
            $flex-padding: $padding;
            flex: 0 1 calc(50% - #{$flex-padding});
            padding: 30px $padding;

            &:nth-child(3n+1){
                padding-left: $padding;
            }
            &:nth-child(3n+3){
                padding-right: $padding;
            }
            &:nth-child(odd){
                padding-left: 0;
            }
            &:nth-child(even){
                padding-right: 0;
            }
        }
    };
    @include bp-max($bp-mobile){
        .project-item{
            $padding: 14px;
            $flex-padding: $padding;
            flex: 0 1 100%;
            padding: 30px 0!important;
        }
    };
}
