.project-section{
    .project-tab-section{
        text-align: center;
        font-size: px-to-rem(20px);
        color: $color-medium-gray;
        margin-bottom: 30px;
        display: block;
    }
    .tab{
        display: inline-block;
        margin-left: 24px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &.active, &:hover
        {
            color: $color-primary;
        }
    }
}
